{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    <h1>Create new page</h1>

    {% if error %}
        {{ error }}
    {% endif %}

    <form action="{% url 'encyclopedia:new_page' %}" method="post">
        {% csrf_token %}
        <div>
            <h4>
                <label for="title">Title</label>
            </h4>
                <input id="title" name="title" type="text" value="{{ title }}" required>
        </div>
        <br>    
        <div>
            <h4>
                <label for="content">Content</label>
            </h4>
            <textarea id="content" name="content" value="{{ content }}" required></textarea>
        </div>

        <input type="submit" value="Save">
    </form>

    <script>
        document.getElementById("content").defaultValue = "{{ content }}";
    </script>

{% endblock %}